*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/How_to_Become_a_Back_End_Developer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1,
.container h2{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.form{
    background-color: rgba(0, 0, 0, 0.39);
    margin-top: 50px;
    
    width: 50%;
}

.blur{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center; 
    backdrop-filter: blur(2px);
    border: thin solid rgba(0, 0, 0, 0.288);
    padding: 30px 10px;
}

input[type="text"]{
    width: 90%;
    font-size: 20px;
    padding: 5px;
}

input[type="submit"]{
    text-align: center;
    padding: 10px;
    background-color: rgb(28, 55, 209);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type="submit"]:hover{
    background-color: rgb(24, 177, 24);
}


/**Estilos para handlebars**/
.h1_hndb{
    color: blue;
}

.container-all-hndb{
    background-color: rgb(12, 21, 29);
    color: white;
}

.ul-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-color: rgb(26, 28, 53);
}

.ul-menu li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/**estilos al chat*/

.h2-chat{
    text-align: center;
    margin: 20px;
}

.container-mensajes{
    overflow-y: auto;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    background-color: white;
    border-radius: 20px;
}

.p-mensajes-chat{
    color: black;
    width: max-content;
    padding: 10px;
    background-color: rgb(144, 144, 250);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 0;
}

.container-btn-send-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-send-msg{
    text-align: center;
    padding: 10px;
    background-color: rgb(28, 55, 209);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-send-msg:hover{
    background-color: crimson;
}

.form-input-chat{
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.connected{
    background-color: rgb(187, 63, 63);
}